@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&display=swap');

:root {
  --mainFont: #000000;
  --captionFont: #8e8e8e;
}

body * {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  margin: 0;
}

div#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;;
  background-color: rgb(70, 71, 71);

  height: 100%;
  overflow: hidden;
}

div.title {
  background-color: rgb(227, 227, 227);
  width: 20rem;
  height: 3.5rem;
  border-radius: 20px;
  margin: 1rem;
}

h1.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 0.5rem;
}

div.web-app {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2.5rem;
  padding: 1rem;
  width: 60rem;
  height: 110rem;
  border-radius: 15px;
}

div.location-input {
  align-self: flex-start;
}

div.weather-info {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  align-items: stretch;
  margin-top: 1rem;
}


div.forecast-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
  width: 12rem;
}

div.clock p {
  font-family: 'Roboto', sans-serif;
  margin: 0.25rem;
  color: var(--captionFont)
}

div.conditions {

}

sup {
  font-size: 0.5em;
  margin-bottom: 1em;
}

div.add-conditions {
  display: flex;
  flex-direction: row;
  gap: 1rem
}

div.forecast {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  gap: 1rem;
  padding: 0.5rem;
  width: 18rem;
}

div.graph {
  width: 47rem;
  height: 10rem;
  background-color: lightgray;
  border-radius: 10px;
}

div.tooltip {
  background-color: rgba(0, 255, 255, 0.308);
  border-radius: 20px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

img.tooltip {
  width: 3rem;
  height: 3rem;
}

div.forecastCards {
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

div.card {
  width: 8rem;
  height: 10rem;
  border-color: #000000;
  border-width: 10rem;
  border-radius: 10px;
  padding-bottom: 1rem;
}

div.card:hover {
  cursor: pointer;
}

div#activeCard {
  background-color: rgba(0, 255, 255, 0.308);
}

h4#card {
  margin-bottom:0em;
}

img#cardIcon{
  width: 4em;
  height: 4em;
}

p#cardCondition {
  font-size: 0.9em;
  margin-top: 0em;
}

p#cardTempRange {
  font-family: 'Roboto', sans-serif;
  color: var(--captionFont);
}